.navbar {
	margin-bottom: 20px;
}
.info {
	margin: 0 auto;
	padding-top: 60px;
}
.col-sm-4 {
	border: 2px;
	border-color: black;
}
img {
	height: 40px;
	width: 40px;
}
.navbar-collapse{
	padding-top: 5px;
}
.header-text {
	padding-top: 10px;
	font-size: 20px;
	color: white;
}